<div class="eca-actions">
	<button mat-flat-button type="button" color="secondary" [routerLink]="['/']">
		<mat-icon>arrow_back</mat-icon>
	</button>
	<button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">
		<mat-icon>save</mat-icon>
	</button>
</div>
<div class="loading-shade" *ngIf="saving">
	<mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div *ngIf="form">
	<form [formGroup]="form">
		<section class="configuration-section">
			<mat-form-field appearance="fill" class="full-width" hintLabel="Leave empty for default value '{{defaultUrl}}'">
				<mat-label>Alma SRU URL</mat-label>
				<input matInput formControlName="almaSruUrl" [value] />
			</mat-form-field>
		</section>
	</form>
</div>
