.entities-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section,
.mat-card {
  margin-bottom: 20px;
}

pre {
  overflow: auto;
  max-height: 200px;
  white-space: pre-wrap;
  word-break: break-all;
}

pre,
textarea {
  font-size: 0.9em;
}

.bib-entity-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.bold {
  font-weight: 400;
}

.hidden {
  display: none;
}

.result-table {
  width: 100%;
}

.result-actions {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 450px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-row {
    height: 0px;
  }

  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-row {
    border-bottom: 1px solid #ddd;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    height: 30px;
    margin-bottom: 4%;
    padding: 0;
  }

  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
