.mat-card {
  margin-bottom: 20px;
}

.bib-entity-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.result-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 7px;
  }
}
